body {
  background-color: #1d293a;
}

.titles {
  margin-left: auto;
  margin-right: auto;
  width: 18cm;
  font-size: 250%;
  color: #00cf5d;
}

.first-block {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: auto;
}

.allblock {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: auto;
  font-size: 120%;
}

.subblock {
  text-align: center;
  font-size: 130%;
  color: #00cf5d;
}

.insubblock {
  padding-right: 150px;
  padding-left: 150px;
}

.textColor {
  font-size: 150%;
  color: #00cf5d;
}

.subtextcolor {
  color: rgb(23, 31, 16);
}

p {
  color: #edf5e1;
}

.language-python {
  color: #edf5e1;
}

strong {
  color: #00cf5d;
}

a {
  color: #00cf5d;
}
